body 
{
	background-color: orange;
}

main
{
	background-color: purple;
}

#cards 
{
    background-color: green;   
}

header
{
    background-color: red;
}

footer {
	background-color: yellow;
}

nav
{
	background-color: azure;
}

figure
{
    background-color: blue;
}

.card_container 
{
    background-color: black;
}

.card 
{
	background-color: gray;
}
