body 
{
	--accent-color: #ab4642;
	--background-color: #e8e8e8;
	--background-accent-color: #d8d8d8;
	--foreground-color: #181818;
	--foreground-accent-color: #282828;
	background-color: var(--background-color);
	font-color: var(--foreground-color);
	font-family: 'Niramit', sans-serif;
}

header
{
	background-color: var(--accent-color);
}

figure
{
	background-color: var(--accent-color);
}

main
{
	background-color: var(--background-color);
}

#cards 
{
	background-color: var(--background-color);
}

.card_container 
{
	background-color: var(--background-color);
}

.card 
{
	background-color: var(--background-accent-color);
}

footer
{
	background-color: var(--foreground-accent-color);
}
