body 
{
	--card-width: 300px;
	--card-height: calc(var(--card-width) * 0.6);
	--card-margin: 20px;
}

/*    this must be updated manually \/ [var(--card-width)]*/
@media only screen and (max-width: 350px) 
{
	body 
	{
		--card-width: 100vw;
	}
}

/*    this must be updated manually \/ [var(--card-width) * 3] */
@media only screen and (max-width: 1050px) 
{
	#nav_left, #nav_right 
	{
		width: 50%;
	}

	#nav_middle 
	{
		order: 3;
		width: 100%;
	}
}

html, body 
{
	width: 100%;
	height: 100%;
    	padding: 0;
    	margin: 0;
}

#content 
{
	width: 100%;
	min-width: var(--card-width);
	max-width: calc(var(--card-width) * 3 + 30vw);
	height: 100%;
	margin: auto;
}

#nav 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-width: var(--card-width);
}

#nav_left, #nav_right 
{
	flex-grow: 1;
	height: 50px;
}

#nav_middle 
{
	width: calc(var(--card-width) * 2);
	min-width: calc(var(--card-width) * 1);
	max-width: calc(100% - 50px);
	height: 75px;
}

#cards 
{
	/*display: flex;*/
	/*justify-content: space-around;*/
	/*flex-wrap: wrap;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--card-width) - (var(--card-margin) * 2)), 1fr));
	max-width: calc(100% - 15vw);
	min-width: var(--card-width);
	margin: 0 auto;
}

.card_container 
{
	/*flex-grow: 1;*/
	/*min-width: calc(var(--card-width) - (var(--card-margin) * 2));*/
	height: calc(var(--card-height) - (var(--card-margin) * 2));
	padding: var(--card-margin);
}

.card
{
	max-width: calc(((100% - var(--card-width)) / 2) + var(--card-width));
	height: 100%;
	margin: 0 auto;
}

/*.card_spacer*/
/*{*/
	/*flex-grow: 1;*/
	/*height: 0;*/
	/*padding: 0 var(--card-margin);*/
/*}*/

/*#cards:after*/
/*{*/
	/*content: "";*/
	/*[>padding: 0 var(--card-margin);<]*/
	/*width: calc(var(--card-width));*/
	/*flex: auto;*/
/*}*/



