body 
{
	--header-height: 50px;
	--card-width: 300px;
	--card-height: calc(var(--card-width) * 0.6);
	--card-margin: 20px;
}

/*    this must be updated manually \/ [var(--card-width)]*/
@media only screen and (max-width: 400px) 
{
	body 
	{
		--card-width: 100vw;
	}
}

html
{
	height: 100%;
}

html, body 
{
	width: 100%;
    	padding: 0;
    	margin: 0;
}

body
{
	display: flex;
    	flex-direction: column;
	min-height: 100%;
}

nav
{
	width: 100%;
	min-width: var(--card-width);
	max-width: calc(var(--card-width) * 4 + 30vw);
	height: var(--header-height);
	margin: auto;
}

.nav_north_east, .nav_north_west 
{
	height: calc(var(--header-height) * 0.75);
	margin: calc(var(--header-height) * 0.125) calc(var(--header-height) * 0.25);
}

.nav_north_east
{
	float: left;
}

.nav_north_west
{
	float: right;
}

header, footer
{
	/*position: fixed;*/
	width: 100%;
	flex: 0 0 auto;
}

main
{
	flex: 1 0 auto;
	width: 100%;
	height: 100%;
	padding-top: var(--header-height);
	padding-bottom: var(--header-height);
}

figure
{
	width: calc(100% - 10vw);
	min-width: var(--card-width);
	max-width: calc(var(--card-width) * 3 + 10vw);
	height: calc(50vh);
	min-height: calc(var(--card-width) * 0.5);
	max-height: calc(var(--card-width) + 10vw);
	margin: auto;
}

section
{
	width: calc(100% - 10vw);
	min-width: var(--card-width);
	max-width: calc(var(--card-width) * 3 + 30vw);
}

#cards 
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--card-width) - (var(--card-margin) * 2)), 1fr));
	/*max-width: calc(100% - 15vw);*/
	/*min-width: var(--card-width);*/
	margin: 0 auto;
}

.card_container 
{
	height: calc(var(--card-height) - (var(--card-margin) * 2));
	padding: var(--card-margin);
}

.card
{
	max-width: calc(((100% - var(--card-width)) / 2) + var(--card-width));
	height: 100%;
	margin: 0 auto;
}



